<% if @user.errors.any? %>
<div class="error-alert">
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li class='error-message'><%= エラーです %></li>
    <% end %>
  </ul>
</div>
<% end %>